<div class = "row">
  <div class = "col-md-12">
    <dl>

      <!-- ここから -->
      <dt>会社名</dt>
      <dd><%= @customer.company_id %> </dd>
      <dt>役職</dt>
      <dd><%= @customer.post %></dd>
      <!--  ここまで追加 -->

      <dt>名前</dt>
      <dd><%= @customer.full_name %> </dd>
      <dt>電子メール</dt>
      <dd><%= @customer.email %></dd>
    </dl>
  </div>

  <!-- 以下の２行を追加-->
<%= link_to '編集する', edit_customer_path(@customer.id) %>
<%= link_to '削除する', customer_path(@customer.id), method: :delete %>

</div>
